{% extends 'layout/base.html' %}
<!--ghi de-->
{% block title %}Trang chủ{% endblock %}

{% block content %}
    <h1 class="subject">WELCOME TO SALEAPP WEBSITE </h1>

    <div class="container">
        <div class="row">
            {% for p in products %}
<!--            laptop 1 dong 3 cot, dt 1 dong 12 cot-->
            <div class="col-md-3 col-xs-12 " style="padding: 5px">
                <div class="card" >
                    <img class="card-img-top" style="width:270px; height:350px; padding: 5px" src="{{ url_for('static', filename=p.image) }}" alt="{{p.name}}">
                    <div class="card-body">
                        <h4 class="card-title">{{ p.name }}</h4>
                        <p class="card-text">{{ "{:,.1f}".format(p.price) }}VND</p>
                        <a href="#" class="btn btn-primary">Đặt hàng</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

<!--    <ul>-->
<!--        &lt;!&ndash;    <li><a href="/products">Tat ca san pham</a></li>&ndash;&gt;-->
<!--        &lt;!&ndash;    duong dan thuong thay doi nen su dung cach sau, dan den ten phuong thuc&ndash;&gt;-->
<!--        <li><a href="{{ url_for('product_list')}}">Tat ca san pham</a></li>-->
<!--        {% for c in categories %}-->
<!--        &lt;!&ndash;    <li><a href="/products?category_id={{c.id}}">{{c.name}}</a></li>&ndash;&gt;-->
<!--        <li><a href="{{ url_for('product_list', category_id=c.id)}}">{{c.name}}</a></li>-->

<!--        {% endfor %}-->
<!--    </ul>-->

{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
</head>
<body>

</body>
</html>