<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet"/>

</head>
<body>
  <h1 class="subject">DANH MUC SAN PHAM</h1>


<!--hien thi san pham-->
  <div class="container">
        <hr>
          <form>
              <input type="text" name="keyword" placeholder="Nhap tu khoa muon tim..">
              <input type="number" name="form_price" placeholder="Nhap gia bat dau..">
              <input type="number" name="to_price" placeholder="Nhap gia ket thuc..">
                <input type="submit" value="Tim">
          </form>
        <hr/>

        <table border="1" class="products">
            <tr>
                <th></th>
                <th>Ma san pham</th>
                <th>Ten san pham</th>
                <th>Mo ta</th>
                <th>Gia ban</th>
            </tr>
            {% for p in products %}
            <tr>
                <td>
    <!--                su dung trong file json   "images/tenAnh.png"-->
    <!--                su dung khi co dan ten anh trong thu muc-->
    <!--                <img src="{{ url_for('static', filename=p.image) }}" alt="{{ p.image }}">-->
                  <a href="{{ url_for('product_detail',product_id=p.id)}}">
                    <img src="{{ p.image }}" width="120px" alt="{{ p.image }}"/>
<!--                      <img src="{{ url_for('product_detail',product_id=p.id)}}" width="120px" alt="{{ p.image }}"/>-->

                  </a>
                </td>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.description}}</td>
                <td>{{ "{:,.1f}".format(p.price) }} VND</td>
            </tr>
            {% endfor %}
        </table>
  </div>
</body>
</html>